

.spbody {
 // background-image: linear-gradient(90deg, rgba(200, 100, 30, 1),rgb(167, 219, 240),rgb(175, 223, 241),rgba(200, 100, 30, 1));

 background-image: url(/public/images/content/bugatti10.webp);
 background-size: cover;
 background-color: rgba(0, 0, 0, 0.8);
 background-blend-mode: overlay;
}



.sandwich-cards-container{
    //width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    //border: solid greenyellow;
}

