@mixin flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCentreWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

$backLG001: radial-gradient(#7472ca, rgba(40,40,40,1),rgba(40,40,40,1),#3e3d80,rgba(40,40,40,1),rgba(40,40,40,1),rgba(40,40,40,1));




.FOOTER {
    background-image: $backLG001;
    padding-top: 5%;
    padding-bottom: 5rem;
    overflow: hidden;
}


.footer-title {
    @include flexCentre;
    font-size: 5vw;
    font-weight: bolder;
}

.above-icon {
    @include flexCentre;
    //margin-top: 10%;
    font-size: 2rem;
    color: white;
    text-align: center
}

.fotr-icon-div {
    @include flexCentreWrap;
    gap: 40px;
    padding-inline: 10%;
    padding-block: 3rem;
   // border: solid;
    width: 100%;
    //border: solid;
    //margin: 10%;
   // margin-top: 0%;


    a {
        //flex: 1;
        //border: solid;
        text-align: center;
        transition: 500ms;
        //border-radius: 50%;
        
    }

    .footer-icon {
        
        width: 3rem;
        &:hover{
            scale: 1.1;
        }

    }

}

.phone-num-div {
    @include flexCentre;
    flex-direction: column;
    //margin-bottom: 10%;
    padding-bottom: 5%;

    p {
        padding: 0%;
        margin: 0%;
    }

    .call-label {
        // justify-self: flex-start;
        // align-self: flex-start;
        //width: 100%;
        font-size: 1.5rem;
        font-weight: bolder;
        color: rgb(30, 30, 30);
        color: wheat;
        border: 8px solid;
        border-color: rgb(123, 63, 63);
        //border-bottom: none;
        //border-top: none;
        border-radius: 29px 29px 30px 30px;
        padding: 1%;
        //padding-bottom: 0%;
        background: transparent;
        overflow: hidden;
        border-bottom-color: transparent;
        //-webkit-text-stroke-width: 0.9px;
        //-webkit-text-stroke-color: black;
        animation: rotater 2s linear 1000ms  infinite alternate forwards ;
        &:hover{
            animation:paused;
            border-bottom-color: transparent;
        }
    }

    .phone-numbers{
        width: fit-content;
        @include flexCentreWrap();
        gap: 15px;
        border: 8px solid;
        border-radius: 40px 4px;
        border-color: rgb(123, 63, 63);
        border-top-color: transparent;
        padding-block: 2%;
        padding-inline: 1%;
        

        .num-div{
            @include flexCentre;
            gap: 15px;
            //border: solid;
            a{
                font-size: 1.2rem;
                text-decoration: none;
                color: unset;
                background-color: rgb(123, 63, 63);
                color: rgb(206, 223, 223);

                &:hover{
                    background-color: red;
                    color: white;
                }
            }

        }

        
    }
}
@keyframes rotater {
    0%{
      //  translate: -100% 0%;
        rotate: -20deg;
    }
    100%{
        //rotate: 360deg;
    //    translate: 100% 0%;
        rotate:  20deg;
    }
}

[data-aos="new-animation"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: rotate(360deg);
  }
}