@mixin flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCentreWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

$backLG001: radial-gradient(circle farthest-side, #fceabb, #f8b500);




.FOOTER {
    background-image: $backLG001;
    padding-top: 5%
}


.footer-title {
    @include flexCentre;
    font-size: 5vw;
    font-weight: bolder;
}

.above-icon {
    @include flexCentre;
    margin-top: 10%;
    font-size: 2rem;
}

.fotr-icon-div {
    @include flexCentreWrap;
    margin: 10%;
    margin-top: 0%;


    a {
        margin: 05%;
    }

    .footer-icon {
        width: 8vw;
        background-color: transparent;
        //border: solid 5px black;
        border-radius: 10%;

    }

}

.phone-num-div {
    @include flexCentre;
    flex-direction: column;
    //margin-bottom: 10%;
    padding-bottom: 5%;

    p {
        padding: 0%;
        margin: 0%;
    }

    .call-label {
        font-size: 2rem;
        font-weight: bold;
    }

    .phone-numbers{
        display: grid;
        gap: 15px;

        .num-div{
            @include flexCentre;
            gap: 15px;
            //border: solid;
            a{
                font-size: 1.2rem;
                text-decoration: none;
                color: unset;
                &:hover{
                    background-color: azure;
                }
            }

        }

        
    }
}