@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img{
    width: 10rem;
    max-height: 10%;
    margin: auto;
    overflow: hidden;
}

.mycard{
    width: 15rem;
    max-width: 400px;
    min-height: 19rem;
    //margin: auto;
    background-color: rgb(255, 186, 174);
    @include flexCenter();
    border: orange solid;
}

.cards-sec{
    min-width: 11rem;
    width: 20vw;
    min-height: 20rem;
    max-height: 31rem;
    //border: white solid;
    margin-inline: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    img{
        height: 6rem;
    }
}











