

.spbody {
    background-color:  white;
}



.sandwich-cards-container{
    //width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    //border: solid greenyellow;
}

