* {
    box-sizing: border-box;
}

@mixin flexCenters {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

$fontClamp01: clamp(0.001rem, 1vw, 2vw);
$fontClamp02: clamp(0.001rem, 1vw, 2vw);
$gucciyellow: rgba(189, 147, 2, 1);
$guccigreen: rgba(10, 106, 86, 1);
$guccired: rgba(168, 43, 17, 1);
$guccired01: rgba(168, 43, 17, 0.2);

.signupcontainer{
    background-color: skyblue;
    width: 100%;
    padding-block: 2%;
}

#signupDiv {
   // display: grid;
   display: flex;
    flex-direction: column;
    //place-items: center;
    text-align: center;
    min-height: 80vh;
    min-width: 300px;
    max-width: 70vw;
    margin-inline: auto;
    border: solid;
    border-radius: 6px;
    background-image: linear-gradient(-80deg, rgba(255, 255, 255, 0.827), rgba(245, 222, 179, 0.866));
    
    
    div:nth-child(1)
    {
        flex-grow: 0.4;
    }
    div:nth-child(2)
    {
        flex-grow: 0.2;
    }

    h6{
        text-align: center;
        font-weight: bold;
        width: 40%;
        padding-top: 4%;
        //margin: 2%;
    }

    #signinForm {
        
        //border: solid;
        min-height: 30vh;
        @include gridCenter();
        gap: 2rem;

        label {
            font-size: 1.5rem;
            font-family: 'Times New Roman', Times, serif;
           // border: solid;
        }

        input {
            font-size: 1rem;
            min-width: 75%;
            width: 100%;
            max-width: 250px;
        }

        .submit-btn {
            margin-top: 14%;
            width: 100%;
        }


    }

    .forgot-pass {
        font-size: 1rem;
        font-style: italic;
        text-decoration: none;
        color: rgba(141, 62, 62, 0.989);

        &:hover{
            
            text-decoration: underline;
        }
    }
}