@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-div{
   // background-image: linear-gradient(90deg, rgb(160, 157, 157), skyblue, rgb(173, 170, 170));
    overflow: hidden;
}

#viewCart {
    position: absolute;
    right:0%;
    top: 50%;
    @include flexCenter;
    height: fit-content;
    //background-color: rgba(0, 128, 0, 0.347);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    bottom: 60%;
    overflow: hidden;

    &:hover{
        right:0%;
        transition: 1000ms;
        background-color: transparent;
        //translate: -50px 0px;
    }
}

    #viewCartBtn {
        text-decoration: none;

        .carticon {
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            border-radius: 50%;
        }
    }


#cartCounter {
    position: absolute;
    right:42%;
    top: 25%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.878);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    pointer-events: none;
    margin: auto;
    //rotate: -45deg;

}


.cart-empty{
    color: white;
    background-color: black;
    text-align: center;
}

.added-items-row {
    background-color: rgb(73, 73, 35);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: whitesmoke;
}

#thetable{
    width: 80vw;
    margin: auto;
    @include flexCenter();
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(24, 24, 15);
    text-align: center;
    color: whitesmoke;
}

.mytablebody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   // margin: auto;
    min-width: 300px;
    border: solid rgb(92, 80, 161);
    box-shadow: 1px 1px 4px 1px rgb(157, 189, 236);
    //border-bottom: 15px solid;
}

.rowcontent{
    @include flexCenter();
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    
}


.item-qty{
    font-weight: bolder;
}

.total-div{
    background-color: rgba(105, 139, 105, 0.795);
    border-radius: 40px;
    //width: 80%;
    padding-inline: 6%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.cartrowimg{
    width: 50px;
    transition: all 500ms;

    &:hover{
        scale: 1.9;
        translate: 0 2rem;
        z-index: 1;
    }
}